<div class="home-container">
    <i class="fa-solid fa-book"></i>

    <h1>Book Lending Library</h1>
    <p>Manage your books, track lending history, and more!</p>

    <div class="homeContent">
    <div>
        <img src="bg-image.png" />
    </div>
    <div class="actionButtons">
        <%= link_to "Manage Books", books_path, class:"btn btn-primary" %>
        <%# <%= link_to "Track lending", lending_histories_path, class:"btn btn-secondary" %>
    </div>
    </div>
</div>
